#sidebar{
    .arroww-left{
        background-color: #EF9B28;
        width: 10px;
        right: 0px;
        top: 10px;
       border-radius: 8px 0px 0px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .arroww-right{
        background-color: #EF9B28;
        width: 10px;
        right: -19px;
        top: 10px;
       border-radius: 0px 8px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .side-links{
        li{
            padding: 0.5rem;
            a{
                color: #FFF;
                display: block;
                padding: 0.4rem;
            }
        }
    }
}

@media (max-width: 991px) {
    .side-links{
        li{
            padding-left: 0px !important;
            a{
                padding: 0.4rem 0.9rem !important;
            }
        }
    }
  }