<section id="sidebar" class="bg-main position-sticky top-0 z-2 vh-100">
<div class="container-fluid">
    <div class="row">
        <div (click)="onClicked()" class="position-absolute" [ngClass]="isOpened ? 'arroww-left' : 'arroww-right'">
            <i class="fa-solid text-white" [class]="isOpened? 'fa-chevron-left' : 'fa-chevron-right'"></i>
        </div>
        <div class="side-links pt-5">
            <ul class="ps-0">
                    <ng-container *ngFor="let item of menu">
                        <li *ngIf="item.isActive">
                            <a [routerLink]="item.link" 
                            routerLinkActive="active-ul" class="d-flex align-items-center" [class]="isOpened?'':'justify-content-center'">
                            <i [class]="item.icon" ></i>
                            <span class="ms-2" [ngClass]="{ 'd-none': !isOpened }">{{item.text}}</span>
                        </a>
                    </li>
                </ng-container>
                </ul>
        </div>
    </div>
</div>
</section>