<section class="main">
  <div class="container">
    <div class="row justify-content-center vh-100 align-items-center">
      <div class="col-md-7">
          <div class="d-flex justify-content-center mb-3">
            <img class="" src="./assets/images/logo.svg" alt="" />
          </div>
          <div class="reset-card p-5">
            <span class="sp">welcome to PMS</span>
            <h2><span class="sp2">R</span>eset Password</h2>

            <form
              [formGroup]="resetForm"
              class="mt-4"
              (ngSubmit)="sendResetForm()"
            >
              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="lable">E-mail</mat-label>
                <input
                  formControlName="email"
                  matInput
                  placeholder="Enter Your Email"
                  class="inp text-white"
                />
                <mat-hint
                  *ngIf="
                    resetForm.get('email')?.errors &&
                    resetForm.get('email')?.touched
                  "
                  class="text-center text-danger"
                >
                  <ng-container
                    *ngIf="resetForm.get('email')?.getError('required')"
                  >
                    * Email is Requierd
                  </ng-container>
                  <ng-container
                    *ngIf="resetForm.get('email')?.getError('email')"
                  >
                    * Invalid Email 
                  </ng-container>
                </mat-hint>
                <button type="button" mat-icon-button matSuffix>
                  <mat-icon class="text-white">mail</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="lable">OTP Verification</mat-label>
                <input
                  formControlName="seed"
                  matInput
                  placeholder="Enter Verification"
                  class="inp text-white"
                />
                <mat-hint
                  *ngIf="
                    resetForm.get('seed')?.errors &&
                    resetForm.get('seed')?.touched
                  "
                  class="text-center text-danger"
                >
                  <ng-container
                    *ngIf="resetForm.get('seed')?.getError('required')"
                  >
                    * OTP is Requierd
                  </ng-container>
                </mat-hint>
                <button type="button" mat-icon-button matSuffix>
                  <mat-icon class="text-white">code</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100">
                <mat-label class="lable">Password</mat-label>
                <input
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                  matInput
                  placeholder="Enter your New Password"
                  class="inp text-white"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon class="text-white">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-hint
                  *ngIf="
                    resetForm.get('password')?.errors &&
                    resetForm.get('password')?.touched
                  "
                  class=" text-danger"
                >
                  <ng-container
                    *ngIf="resetForm.get('password')?.getError('required')"
                  >
                    * Password is Requierd
                  </ng-container>
                  <ng-container
                    *ngIf="resetForm.get('password')?.getError('pattern')"
                  >
                    * Password must contain at least one digit,one lowercase letter,one uppercase letter,one special character, and is at least 6 characters long.
                  </ng-container>
                </mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 " [class]="resetForm.get('password')?.getError('pattern')?'mt-4':''">
                <mat-label class="lable">Confirm Password</mat-label>
                <input
                  formControlName="confirmPassword"
                  [type]="hideConfirm ? 'password' : 'text'"
                  matInput
                  placeholder="Confirm New Password"
                  class="inp text-white"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hideConfirm = !hideConfirm"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirm"
                >
                  <mat-icon class="text-white">{{
                    hideConfirm ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
               

                <mat-error *ngIf="resetForm.get('confirmPassword')?.getError('required')&&(resetForm.get('confirmPassword')?.touched)">Confirm password is required</mat-error>
                <mat-hint class="text-danger " *ngIf="resetForm.get('confirmPassword')?.value!=''&&resetForm.get('confirmPassword')?.getError('compare')">Confirm password  not match</mat-hint>


              </mat-form-field>

              <div>
                <a routerLink="/auth/login"  class="text-decoration-none text-white cursor-pointer">Back to login ? </a>

               </div>

              <div class="text-center">
                <button
                  [disabled]="resetForm.invalid"
                  class="primary rounded-pill  w-100 py-3 d-block mx-auto mt-3"
                >
                  Save
                </button>
              </div>
            </form>
          </div>

      </div>
    </div>
  </div>
</section>
