<div class="container">
  <div cdkDropListGroup class="content">
    <div class="content">
      <div class="d-flex mb-5">
        <h2 class="container-fluid p-0">Task Board</h2>
      </div>
      <div class="row g-3">
        <div class="col-md-4">
          <h3 class="task-card-title mb-4 w-50">To Do</h3>
          <div class="task-card">
            <div cdkDropList [cdkDropListData]="todo" class="task-list" (cdkDropListDropped)="drop($event)" class="task-scroll d-flex justify-content-center">
              <div class="mt-5 mb-4 mx-2 overflow-y-scroll overflow-x-hidden scroller">
                  <div *ngFor="let item of todo" cdkDrag class="task">
                    {{ item.title }}
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h3 class="task-card-title mb-4 w-50">In Progress</h3>
          <div class="task-card">
            <div cdkDropList [cdkDropListData]="inProgress" class="task-list" (cdkDropListDropped)="drop($event)" class="task-scroll d-flex justify-content-center">
              <div class="mt-5 mb-4 mx-2 overflow-y-scroll overflow-x-hidden scroller">
                  <div *ngFor="let item of inProgress" cdkDrag class="task">
                    {{ item.title }}
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h3 class="task-card-title mb-4 w-50">Done</h3>
          <div  class="task-card">
            <div cdkDropList [cdkDropListData]="done" class="task-list" (cdkDropListDropped)="drop($event)" class="task-scroll d-flex justify-content-center">
              <div class="mt-5 mb-4 mx-2 overflow-y-scroll overflow-x-hidden scroller">
                  <div *ngFor="let item of done" cdkDrag class="task">
                    {{ item.title }}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
