<div class="container-fluid">
  <div class="row justify-content-between align-items-center shadow py-3 mb-4">
    <div class="container d-flex justify-content-between align-items-center py-4 px-5">
    <h2 class="title">{{ mainTextHeader }}</h2>
    </div>
  </div>
  <div cdkDropListGroup class="content px-5">
    <div class="container-fluid py-5">
      <div class="row g-4 justify-content-center">
        <div class="col-xl-4 col-md-6 d-flex justify-content-center">
          <div class="w-100">
            <h3 class="task-card-title mb-4">To Do</h3>
            <div class="task-card">
              <div
                cdkDropList
                [cdkDropListData]="todo"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
                class="task-scroll d-flex justify-content-center w-100"
              >
                <div
                  class="mt-5 mb-4 overflow-y-scroll overflow-x-hidden scroller w-100"
                >
                  <div (click)="viewTaskDetails(item)" *ngFor="let item of todo" cdkDrag class="task">
                    {{ item.title }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6  d-flex justify-content-center">
          <div class="w-100">
            <h3 class="task-card-title mb-4">In Progress</h3>
            <div class="task-card">
              <div
                cdkDropList
                [cdkDropListData]="inProgress"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
                class="task-scroll d-flex justify-content-center w-100"
              >
                <div
                  class="mt-5 mb-4 overflow-y-scroll overflow-x-hidden scroller w-100"
                >
                  <div (click)="viewTaskDetails(item)" *ngFor="let item of inProgress" cdkDrag class="task">
                    {{ item.title }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6  d-flex justify-content-center">
          <div class="w-100">
          <h3 class="task-card-title mb-4">Done</h3>
          <div class="task-card">
            <div
              cdkDropList
              [cdkDropListData]="done"
              class="task-list"
              (cdkDropListDropped)="drop($event)"
              class="task-scroll d-flex justify-content-center w-100"
            >
              <div
                class="mt-5 mb-4 overflow-y-scroll overflow-x-hidden scroller w-100"
              >
                <div (click)="viewTaskDetails(item)" *ngFor="let item of done" cdkDrag class="task">
                  {{ item.title }}
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
