.content {
  height: 37.5rem;
  width: 100%;

  h2 {
    color: #4f4f4f;
  }

  .task-card-title {
    color: #4f4f4f;
  }

  .task-card {
    background-color: rgba(49, 89, 81, 0.9);
    width: 23rem;
    height: 25.5rem;
    border-radius: 1rem;
  }
}

.task-scroll {
  height: 23rem;

  .task {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ef9b28;
    width: 19.5rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .scroller {
    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(194, 194, 193, 0);
      border-radius: 10px;
      border: 2px;
      &:hover {
        background-color: rgba(194, 194, 193, 0.2);
      }
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
