<section class="bg-main p-2">
    <div class="d-flex justify-content-end mt-3"><i  class="fa-solid fa-xmark-circle main-color fa-xl cursor-pointer" (click)="_DialogRef.close()"></i></div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="view-card p-4">
                <h4 class="fw-semibold main-color mb-3"><span class=" ">Task Id : </span> <span class=" text-white">{{data.id}}</span></h4>
                <h4 class=" fw-semibold  main-color mb-3">Creation Date : <span class="text-white">{{data.creationDate |date:'dd/mm/yyyy'}}</span></h4>
                <h4 class="   main-color mb-3">Title : <span class="text-white">{{data.title}}</span></h4>
                <h4 class="   main-color mb-3">employee name : <span class="text-white">{{data.employee.userName}}</span></h4>
                <h4 class="main-color mb-3">Describtion : <span class="text-white">{{data.project.description}}</span></h4>
                <h4 class="statuses p-2 rounded-pill text-center mt-4 main-color" [class]="data.status">{{data.status}}</h4>
            </div>
        </div>
    </div>
</section>
