.main{
    min-height: 100vh;
    background-image: url('../../../../assets/images/bg1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .center{
        position: relative;
        
        .edit{
        position: absolute;
        top: -20px;
        right: 35%;
        border-radius: 5px;
        color: white;
        }}
}

.reg-card{
    background-color: rgba(49, 89, 81, 0.9);
    .sp{
        color: rgba(255, 255, 255, 1) !important;
        font-size: 18px;
        font-weight: 500;
    }
    h2{
        color: rgba(239, 155, 40, 1);
        font-size: 40px;
        font-weight: 600;
    }
    .sp2 {
        position: relative;
        &::after{
        content: '';
        background-color:rgba(239, 155, 40, 1) ;
        position: absolute;
        inset-inline-start: 2px;
        bottom: 0;
        width: 95%;
        height: 3px;
    }
    }
}

.reg-btn{
    background-color: rgba(239, 155, 40, 1) !important;
}
.row1{
    min-height: 100vh;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
}
.inp{
    &::placeholder{
        color: white !important;
    }
    background-color: transparent !important;
}
.lable{
    color: rgba(239, 155, 40, 1)  ;
}


.photo{
    width: 220px;
    height: 220px;
    border-radius: 50%;

}

.iconEdit{
    color: rgba(49, 89, 81, 0.9);
    background-color: #fff;
    border-radius: 50%;

}