<section class="bg-main p-3">
    <div class="d-flex justify-content-end"><i class="fa-solid fa-xmark-circle text-danger cursor-pointer fa-1x" (click)="_DialogRef.close()"></i></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="d-flex justify-content-center"><img src="../../../../assets/images/logo.svg" alt=""></div>
                <h1 class="text-center title py-3">Delete this Task ?</h1>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <button class="btn btn-warning text-white" type="button" (click)="_DialogRef.close()">Cancel</button>
                    <button class="btn btn-danger" [mat-dialog-close]="data">Delete <i class="fa-solid fa-trash-can"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>