::ng-deep.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 25px !important
 }
::ng-deep.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel{
  border-radius: 18px !important;
}  


.chart-card{
   background-color: rgba(128, 128, 128, 0.107);
  padding: 1rem;
  margin: 1rem 0px;
  border-radius: 16px;
  /*.description{
    height: 100px;
  }*/
  .chart-item{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 1rem;
    transition: 0.5s;
    &:hover{
      transform: translateY(-5px);
    }
    &:hover i{
      animation: chartIcon 0.7s infinite ease-in-out;
    }
    h6{
      color: #6F7881;
    }
    .chart-icon{
        width: 45px;
        height: 45px;
        border-radius:6px;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
          font-size: 20px;
        }
    }
  }
  .item-1{
    border-bottom: 3px solid #ef9c28e4;
    .chart-icon-1{
      background-color: #ef9c28e4;
      i{
        color: rgba(255, 255, 255, 0.847);  
       }
    }
   }
   .item-2{
    border-bottom: 3px solid #0e382fe0;
    .chart-icon-2{
      background-color: #0e382fe0;
      i{
        color: rgba(255, 255, 255, 0.847);
        
       }
    }
   }
   .item-3{
    border-bottom: 3px solid #E7C3D7;
    .chart-icon-3{
      background-color: #E7C3D7;
      i{
        color: #f072b7;
        
       }
    }
   }
}


.bg-itemOne{
  background-color: #E5E6F4;
}
.bg-itemTwo{
  background-color: #F4E5ED;
}



#home-data{
  margin-top: 2rem;
  padding: 0 1rem;

  .w-50{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
  }
  .content-header{
border-left: 5px solid #EF9B28;
padding-left: 2rem;
  }
}


@keyframes chartIcon {
  0%{
    transform: translateX(3px);
  }
  50%{
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(0px);
  }
}
