<section class="main bg-light">
  <div class="row justify-content-between align-items-center shadow py-3 mb-4">
    <div class="container d-flex justify-content-between align-items-center py-4 px-5">
    <h2 class="title">{{ mainTextHeader }}</h2>
    </div>
  </div>
  <div class="container">
    <div class="data container p-3">
      <div class="row mt-3">
        <div class="col-md-8">

          <mat-form-field class="w-75 " appearance="outline">
            <button  matPrefix mat-icon-button
            (click)="getProjectsForEmployee()">
            <mat-icon>search</mat-icon>
           </button>
            <mat-label class="lable">Search</mat-label>

            <input type="text" class=" text-dark inp-radius" placeholder="Search By Title"
              [(ngModel)]="titleSearch"  (keyup.enter)="getProjectsForEmployee()" matInput>
            <button *ngIf="titleSearch" matSuffix mat-icon-button aria-label="Clear"
              (click)="titleSearch='';getProjectsForEmployee()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

        </div>
      </div>
      <table
        class="table table-striped table-bordered text-center border border-1 shadow"
      >
        <thead class="">
          <th class="border border-black">Title</th>
          <th class="border border-black">Description</th>
          <th class="border border-black">Modification date</th>
          <th class="border border-black">Number of tasks</th>
          <th class="border border-black">Date created</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of employeeProjectsData">
            <td class="pt-3 text-start">{{ item.title }}</td>
            <td class="pt-3 text-start">{{ item.description }}</td>
            <td class="pt-3">
              {{ item.modificationDate | date : "dd-MM-yyyy 'at' hh:mm a" }}
            </td>
            <td class="pt-3">{{ item.task.length }}</td>
            <td class="pt-3">
              {{ item.creationDate | date : "dd-MM-yyyy 'at' hh:mm a" }}
            </td>
          </tr>
        </tbody>
      </table>
      <app-no-data *ngIf="employeeProjectsData?.length == 0"></app-no-data>
    
      <div class="d-flex justify-content-end">
        <mat-paginator
          #paginator
          class="demo-paginator"
          (page)="handlePageEvent($event)"
          [length]="listData.totalNumberOfRecords"
          [pageSize]="pageSize"
          [pageIndex]="pageNumber"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
