<section class="projects ">
 <!--* Top Header Section  -->
 <div class="row p-5 ">

  <!--* Left Col Section  -->
  <div class="col-md-6 ">

   <!--* Main Text Header  -->
   <div class="contectBox">
    <h2>{{ mainTextHeader }}</h2>
   </div>
  </div>


  <!--* Right Col Section  -->
  <div class="col-md-6 ">

   <!--* Main Text Button  -->
   <div class="contectButton  text-end">
    <button class=" w-50 main rounded rounded-pill text-center border-0 text-white"
     style="background: #EF9B28; padding: 0.8rem 1rem; ">
     <span> <i class="fa-solid fa-plus "></i> {{ mainTxTHeaderBtn }}</span>
    </button>
   </div>
  </div>
 </div>


</section>