.page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   // background-color: #fff;
   width: 100%;
    h2{
        color: #4F4F4F;
    }
}


