.page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   // background-color: #fff;
   width: 100%;
    h2{
        color: #4F4F4F;
    }
}
.table-card{
    .status{
  border-radius: 16px;
  color: #fff;
  &.active {
    padding: 0.5rem 0.7rem;
    background-color: #009247;
  }
  &.notActive {
    padding: 0.5rem 0.7rem;
    background-color: rgba(146, 46, 37, 0.7);
  }
    }
}

th {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
    border: 1px solid rgba(49, 89, 81, 0.9);
    background: rgba(49, 89, 81, 0.9);
    color: #fff;
    text-align: center;
  }
  tr{
    text-align: center;
    color: #4F4F4F;
    border: 1px solid rgba(49, 89, 81, 0.9);
    td:not(:last-child){
        padding-top: 1.5rem;
    }
  }