<section>
    <div class="page-title shadow-sm  px-5">
        <h2 class="mb-0">Users</h2>
    </div>
</section>

<section class="table-card mt-5 mx-3 mw-100">
    <table class="table table-striped table-bordered text-center border border-1  shadow ">
        <thead>
            <th>userName</th>
            <th>Status</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Creation Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let users of listUsers">
                <td>{{users.userName}}</td>
                <td>
                    <span class="status" [class]="users.isActivated? 'active' : 'notActive' ">
                        {{users.isActivated?'Active':'notActive'}}
                    </span>
                </td>
                <td>{{users.phoneNumber}}</td>
                <td>{{users.email | trimEmail}}</td>
                <td>{{users.creationDate | date:'dd-mm-yyyy'}}</td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon class="secondary-color">more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openBlockDialog(users)">
                          <mat-icon class="secondary-color">block</mat-icon>
                          <span class="dark-color">{{users.isActivated?'Block':'UnBlock' }}</span>
                        </button>
                        <button mat-menu-item [routerLink]="['/dashboard/manager/users/view/',users.id]">
                          <mat-icon class="secondary-color">visibility</mat-icon>
                          <span class="dark-color">View</span>
                        </button>
                      </mat-menu>                     
                </td>
            </tr>
        </tbody>
    </table>
    <app-no-data *ngIf="listUsers?.length == 0 "></app-no-data>
    <div class="d-flex justify-content-center">
        <mat-paginator *ngIf="listUsers.length > 0"  #paginator
          (page)="handlePageEvent($event)"
          [length]="tableData?.totalNumberOfRecords"
          [pageSize]="pageSize"
          [pageIndex]="pageNumber"           
          [pageSizeOptions]="[5, 10, 25 , 100]"
          aria-label="Select page">
</mat-paginator>
    </div>
</section>