<nav class="navbar navbar-expand-md bg-body-tertiary shadow">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img src="../../../../assets/images/logo-dark.png" class="w-100" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4">
            <span class=" position-relative d-flex align-items-center bell-icon">
               <span class="position-absolute rounded-circle bell"><sup class="text-white num">1</sup></span> 
                <i class="fa-solid fa-bell main-color fa-2x"></i>
            </span>
          
            <div class="dropdown-content d-flex justify-content-center align-items-center position-relative ">
                <div class="profile-img me-2">
                    <img *ngIf="currentUser?.imagePath"
                     [src]="imgUrl + currentUser?.imagePath" class="w-100 rounded-circle" alt="profile">
                     <img *ngIf="!currentUser?.imagePath"
                     [src]="emptyImg" class="w-100 rounded-circle" alt="dummy-img">
                </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle p-0 text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     {{currentUser?.userName}}
                      <i class="fa-solid fa-angle-down ms-4"></i>
                    </a>
                    <ul class="dropdown-menu me-4">
                      <li><a class="dropdown-item">Action</a></li>
                      <li><a class="dropdown-item">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item">Something else here</a></li>
                    </ul>
                    <span class="d-block">{{currentUser?.email}}</span>
                  </li>
            </div>
        </ul>
      </div>
    </div>
  </nav>