p{
    color: rgba(14, 56, 47, 1);
    font-size: 18px;
}
.main{
    min-height: 100vh;
    background-color:  rgba(128, 128, 128, 0.17);
}
h3{
    color: rgba(14, 56, 47, 1);
    font-size: 32px;
    font-weight: 500;
}}


// jherpfs
