<app-add-edit-header [textHeader]="id ? editTextHeader : addTextHeader"
  [mainTxTHeaderLink]="mainTxTHeaderLink" [toDynamicPath]="'/dashboard/manager/tasks'"></app-add-edit-header>


<section class="main  ">
  
      <div class="Add-Edit ">
      
                <mat-card class="rounded-5 p-5">
                        <form action="" [formGroup]="addEditForm" (ngSubmit)="addTask()" >
                            <mat-form-field class="w-100"  >
                                <mat-label >Title</mat-label>
                                <input formControlName="title" type="text" placeholder="Enter the title" matInput>
                                <mat-error *ngIf="addEditForm.get('title')?.touched && addEditForm.get('title')?.hasError('required')">task's title is required</mat-error>

                            </mat-form-field>
                            <mat-form-field class="example-full-width w-100 mt-1" >
                                <mat-label>Description</mat-label>
                                <textarea formControlName="description" matInput placeholder="Description" rows="5"></textarea>
                                <mat-error *ngIf="addEditForm.get('description')?.touched && addEditForm.get('description')?.hasError('required')">task's description is required</mat-error>

                              </mat-form-field>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field  class="w-100 mt-1">
                                        <mat-label>User</mat-label>
                                        <mat-select formControlName="employeeId">
                                            <mat-option *ngFor="let item of allUsers" [value]="item.id">{{item.userName}}</mat-option>
                                          </mat-select>
                                          <mat-error *ngIf="addEditForm.get('employeeId')?.touched && addEditForm.get('employeeId')?.hasError('required')">user is required</mat-error>

                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field  class="w-100 mt-1">
                                        <mat-label>Project</mat-label>
                                        <mat-select formControlName="projectId">
                                            <mat-option *ngFor="let item of allProjects" [value]="item.id">{{item.title}}</mat-option>
                                          </mat-select>
                                          <mat-error *ngIf="addEditForm.get('projectId')?.touched && addEditForm.get('projectId')?.hasError('required')">project is required</mat-error>
   
                                    </mat-form-field>
                                    
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-card-actions *ngIf="isNonDisplay" class="d-flex justify-content-between align-items-center">
                                <button type="button"  class="btn border-2 rounded-pill px-4  cancel" routerLink="/dashboard/manager/tasks">Cancel</button>
                              <button [disabled]="addEditForm.invalid" type="submit"  class="primary rounded-pill px-4">Save</button>
                            </mat-card-actions>
                        </form>
                  </mat-card>
            </div>
        
</section>
