<section class="block bg-main p-2">
    <div class="d-flex justify-content-end">
        <a (click)="onNoClick()" role="button" class="main-color"><i class="fa-solid fa-xmark-circle fa-2x "></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="text-center mx-auto text-white">
                    <img src="./assets/images/logo.svg" class="w-50 pb-5" alt="logo">
                    <h3 class="mb-2 text-white"><span>{{data.isActivated?'Block ':'Unblock '}}</span>
                        <span class="main-color pb-2">{{data.userName}}</span></h3>  
                        <p class="px-3">are you sure you want to {{data.isActivated?'block':'unblock'}} this User ? if you are sure just click on {{data.isActivated?'block':'unblock'}} </p> 
                </div>
                <div class="d-flex justify-content-around mt-5 mb-3">
                    <button type="button" (click)="onNoClick()"  class=" outline-primary me-2">Cancel</button>
                    <button type="submit"  [mat-dialog-close]="data.id"   class="primary">
                      <span>{{data.isActivated?'Block':'Unblock'}}</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</section>