.main{
    background-color: rgba(128, 128, 128, 0.17);
    min-height: 100vh;
.main-btn:hover{
    color: #EF9B28;
    background-color: #fff;
    border: 1px solid #EF9B28;
}
}

::ng-deep.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 25px !important
   }
::ng-deep.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel{
    border-radius: 18px !important;
}  