<section class="main">
    <div class="mb-2  bg-white  py-3 shadow-sm">
        <div class="container d-flex justify-content-between align-items-center">
            <h2 class="title">Tasks</h2>
           <button class="main-btn rounded-pill btn pt-2" routerLink="add">Add New Task <i class="fa-solid fa-plus"></i></button>
        </div>
    </div>
    <div class="data container"> 
        <table class="table table-striped text-center">
            <thead class="py-2">
                <th class="border-1 border-end-2 border-black">Title <i class="fa-solid fa-sort bg-transparent text-white"></i></th>
                <th class="border-1 border-end-2 border-black">Statues <i class="fa-solid fa-sort bg-transparent text-white"></i></th>
                <th class="border-1 border-end-2 border-black">User <i class="fa-solid fa-sort bg-transparent text-white"></i></th>
                <th class="border-1 border-end-2 border-black">Project <i class="fa-solid fa-sort bg-transparent text-white"></i></th>
                <th class="border-1 border-end-2 border-black">Date Created <i class="fa-solid fa-sort bg-transparent text-white"></i></th>
                <th class="border-1 border-end-2 border-black"></th>
            </thead>
            <tbody>
                <tr *ngFor="let item of tasksData">
                    <td>{{item.project.title}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.employee.userName}}</td>
                    <td>{{item.project.title}}</td>
                    <td>{{item.creationDate}}</td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" class="rounded-4">
                            <button mat-menu-item class="px-4">
                              <mat-icon>visibility</mat-icon>
                              <span>View</span>
                            </button>
                            <button [routerLink]="['edit',item.id]" mat-menu-item class="px-4">
                              <mat-icon>edit_square</mat-icon>
                              <span>Edit</span>
                            </button>
                            <button mat-menu-item class="px-4">
                              <mat-icon>delete</mat-icon>
                              <span>Delete</span>
                            </button>
                          </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>