<section class="projects">
 <!--? Import shared-header component to display main header and content -->
 <app-shared-header [mainTextHeader]="mainTextHeader" [mainTxTHeaderBtn]="mainTxTHeaderBtn"></app-shared-header>

 <div class="container">
  <mat-card>
   <mat-card-header>
    <mat-form-field class="w-25 " appearance="outline">
     <input type="search" class="inp text-dark inp-radius" placeholder="Search By Title" matInput>
     <mat-label class="lable">Search</mat-label>
     <mat-icon matPrefix>
      <span class="material-symbols-outlined">
       search
      </span>
     </mat-icon>
    </mat-form-field>
   </mat-card-header>
  </mat-card>
 </div>


 <div class="">
  <div class="container">

   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5 text-capitalize text-center">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!--? Title Column -->
    <ng-container matColumnDef="title">
     <th mat-header-cell *matHeaderCellDef class="text-center">
      <span>title</span>
      <mat-icon class="mat-18 text-center pt-1"><span class="mt-5">unfold_more</span></mat-icon>
     </th>
     <td mat-cell *matCellDef="let element" class="text-center"> {{element.title}} </td>
    </ng-container>

    <!--? Description Column -->
    <ng-container matColumnDef="description" class="text-center">
     <th mat-header-cell *matHeaderCellDef class="text-center">
      <span>Description</span>
      <mat-icon class="mat-18 text-center pt-1"><span class="mt-5">unfold_more</span></mat-icon>
     </th>
     <td mat-cell *matCellDef="let element" class="text-center"> {{element.description}} </td>
    </ng-container>

    <!--? CreationDate Column -->
    <ng-container matColumnDef="creationDate">
     <th mat-header-cell *matHeaderCellDef>
      <span>CreationDate</span>
      <mat-icon class="mat-18 text-center pt-1"><span class="mt-5">unfold_more</span></mat-icon>
     </th>
     <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'dd/mm h:m a'}} </td>
    </ng-container>

    <!--? ModificationDate Column -->
    <ng-container matColumnDef="modificationDate">
     <th mat-header-cell *matHeaderCellDef>
      <span>ModificationDate</span>
      <mat-icon class="mat-18 text-center pt-1"><span class="mt-5">unfold_more</span></mat-icon>
     </th>
     <td mat-cell *matCellDef="let element"> {{element.modificationDate | date:'dd/mm h:m a'}} </td>
    </ng-container>

    <!--? Task Count Column -->
    <ng-container matColumnDef="task">
     <th mat-header-cell *matHeaderCellDef class="text-center">
      <span>task count</span>
      <mat-icon class="mat-18 text-center pt-1"><span class="mt-5">unfold_more</span></mat-icon>
     </th>
     <td mat-cell *matCellDef="let element" class="text-center"> {{element.task.length}}</td>
    </ng-container>

    <!--? Menu Column -->
    <ng-container matColumnDef="menu">
     <th mat-header-cell *matHeaderCellDef> </th>
     <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
       <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
       <button mat-menu-item>
        <mat-icon>visibility</mat-icon>
        <span>View</span>
       </button>
       <button mat-menu-item>
        <mat-icon>edite_square</mat-icon>
        <span>Edit</span>
       </button>
       <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
       </button>
      </mat-menu>
     </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef=" let row; columns: displayColumns;"></tr>
   </table>
  </div>
 </div>
</section>