// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ManagementBusiness-primary: mat.define-palette(mat.$yellow-palette , 800);
$ManagementBusiness-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ManagementBusiness-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ManagementBusiness-theme: mat.define-light-theme((color: (primary: $ManagementBusiness-primary,
        accent: $ManagementBusiness-accent,
        warn: $ManagementBusiness-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ManagementBusiness-theme);
/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




.cursor-pointer {
  cursor: pointer;
}

// Table Design

th {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
 // border: 1px solid rgba(49, 89, 81, 0.9);
  background: rgba(49, 89, 81, 0.9);
  color: #fff;
  text-align: center;
}
// .table-bordered>:not(caption)>*>*{
//   border-width: 0 !important;
// }
tr {
  text-align: center;
  color: #4F4F4F;
  border: 1px solid rgba(49, 89, 81, 0.9);

  td:not(:last-child) {
    padding-top: 1.5rem;
  }
}


// Global Properties
.main-color {
  color: #EF9B28;
}

.bg-main {
  background-color: #0E382F;
}

.seconary-color {
  color: #0E382F;
}

.dark-color {
  color: #1F263E;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.active-ul {
  background-color: rgba($color: #EF9B28, $alpha: 0.3);
  color: #EF9B28;
  border-radius: 8px;
  transition: 0.3s ease;
}
.table-card{
  .status{
border-radius: 16px;
color: #fff;
&.active {
  padding: 0.5rem 0.7rem;
  background-color: #009247;
}
&.notActive {
  padding: 0.5rem 0.7rem;
  background-color: rgba(146, 46, 37, 0.7);
}
  }
}

// Scroll
::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #0E382F
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0E382F;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0E382F;
}

// Button

// Customise Angular Material
.mat-mdc-menu-content {
  padding: 9px !important;
}
.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  border-radius: 20px !important;
}

.cp {
  cursor: pointer;
}


.btnHover {

  &:hover {
    opacity: 0.8;

  }
}

.title {
  font-size: 28px;
  font-weight: 500;
  color: rgba(79, 79, 79, 1);
}


.main-btn {
  background-color: rgba(239, 155, 40, 1);
  color: rgba(255, 255, 255, 1);

  &:hover {
    background-color: rgba(239, 155, 40, 1);
    color: rgba(255, 255, 255, 1);
    ;
  }
}

.block{
  button {
    border: none;
    padding: 0.5rem 1rem;
    transition: all 0.25s;
    &.primary {
      border-radius: 96px;
      background-color: #ef9b28;
      color: #fff;
      border: 1px solid #ef9b28;
    }
    &:hover {
      border: 1px solid #ef9b28;
    color: #ef9b28;
    background-color: #fff;
    }
    &.outline-primary {
      border-radius: 96px;
      border: 1px solid #ef9b28;
      color: #ef9b28;
      &:hover {
       color: #fff;
        background-color: #ef9b28;
      }
    }
   }




.statuses {
  &.ToDo {
    background-color: rgba(228, 225, 245, 1);
    color: white;
  }

  &.InProgress {
    background-color: rgba(239, 155, 40, 0.64);
    color: white;
  }

  &.Done {
    background-color: rgba(0, 146, 71, 1);
    color: white;
  }
}

