
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ManagementBusiness-primary: mat.define-palette(mat.$indigo-palette);
$ManagementBusiness-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ManagementBusiness-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ManagementBusiness-theme: mat.define-light-theme((
  color: (
    primary: $ManagementBusiness-primary,
    accent: $ManagementBusiness-accent,
    warn: $ManagementBusiness-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ManagementBusiness-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor-pointer{
  cursor: pointer;
}

// Global Properties
.bg-main{
  background-color: #0E382F;
}
.main-color{
  color: #EF9B28;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.active-ul{
  background-color: rgba($color: #EF9B28, $alpha: 0.3);
  color: #EF9B28;
  border-radius: 8px;
}
