<section class="p-4 bg-main">
  <div class="text-end close py-3">
    <a class="cp"
      ><i
        class="fa-solid fa-xmark-circle main-color fa-2x pe-auto"
        (click)="onNoClick()"
      ></i
    ></a>
  </div>
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="onChangePassword(changePasswordForm)"
  >
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Old Password</mat-label>
      <input
        formControlName="oldPassword"
        [type]="hideOld ? 'password' : 'text'"
        matInput
        placeholder="Enter your old password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideOld = !hideOld"
        [attr.aria-label]="'Hide Old Password'"
        [attr.aria-pressed]="hideOld"
      >
        <mat-icon class="text-white">{{
          hideOld ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-hint
        *ngIf="
          changePasswordForm.get('oldPassword')?.errors &&
          changePasswordForm.get('oldPassword')?.touched
        "
        class="text-center text-danger"
      >
        <ng-container
          *ngIf="changePasswordForm.get('oldPassword')?.getError('required')"
        >
          * Password is Requierd
        </ng-container>
        <ng-container
          *ngIf="changePasswordForm.get('oldPassword')?.getError('pattern')"
        >
          * Invalid Password
        </ng-container>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>New Password</mat-label>
      <input
        formControlName="newPassword"
        [type]="hideNew ? 'password' : 'text'"
        matInput
        placeholder="Enter your New Password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideNew = !hideNew"
        [attr.aria-label]="'Hide New Password'"
        [attr.aria-pressed]="hideNew"
      >
        <mat-icon class="text-white">{{
          hideNew ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-hint
        *ngIf="
          changePasswordForm.get('newPassword')?.errors &&
          changePasswordForm.get('newPassword')?.touched
        "
        class="text-center text-danger"
      >
        <ng-container
          *ngIf="changePasswordForm.get('newPassword')?.getError('required')"
        >
          * New password is requierd
        </ng-container>
        <ng-container
          *ngIf="changePasswordForm.get('newPassword')?.getError('pattern')"
        >
          * Password Invalid Format * Password must contain at least one
          uppercase letter, one lowercase letter, number, special
          symbol(!@#$%^&*_+=-) and between 8 - 16 characters long
        </ng-container>
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Confirm New Password</mat-label>
      <input
        formControlName="confirmNewPassword"
        [type]="hideConfirm ? 'password' : 'text'"
        matInput
        placeholder="Confirm New Password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirm = !hideConfirm"
        [attr.aria-label]="'Hide New Confirm Password'"
        [attr.aria-pressed]="hideConfirm"
      >
        <mat-icon class="text-white">{{
          hideConfirm ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-hint
        *ngIf="
          changePasswordForm.get('confirmNewPassword')?.errors &&
          changePasswordForm.get('confirmNewPassword')?.touched
        "
        class="text-center text-danger"
      >
        <ng-container
          *ngIf="
            changePasswordForm.get('confirmNewPassword')?.getError('required')
          "
        >
          * Confirm password is requierd
        </ng-container>

        <!-- *ngIf="
            confirmNewPasswordValue.length !== newPasswordValue.length && newPasswordValue.length !== confirmNewPasswordValue.length &&
            confirmNewPasswordValue !== newPasswordValue
          " -->
        <ng-container
          *ngIf="
            (changePasswordForm.get('confirmNewPassword')?.value || '')
              .length !==
              (changePasswordForm.get('newPassword')?.value || '').length &&
            changePasswordForm.get('confirmNewPassword')?.value !==
              changePasswordForm.get('newPassword')?.value
          "
        >
          * New password and confirm new password must match.
        </ng-container>
      </mat-hint>
    </mat-form-field>

    <div mat-dialog-actions class="d-flex justify-content-between">
      <button
        class="btn btn-outline-danger exit-pass"
        type="button"
        (click)="onNoClick()"
      >
        No Thanks
      </button>

      <button class="btn update-pass" type="submit">Change Password</button>
    </div>
  </form>
</section>
